@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #88cff8;
  --foreground: #305230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  color: var(--foreground);
  text-align: center;
  font-family: var(--font-geist-mono);
}